.header {
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.header__logo {
  width: 173px;
  margin-bottom: 41px;
}

@media screen and (max-width: 520px) {
  .header {
    margin-top: 28px;
  }

  .header__logo {
    max-width: 126px;
    padding-left: 27px;
    margin-bottom: 32px;
  }
}
