.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.2rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s;
}

.modal__image {
  max-width: 100%;
  object-fit: cover;
}

.modal__container {
  background-color: #fff;
  padding: 2.25rem;
  color: #000;
  border-radius: 0.625rem;
  border: 1px solid #000;
  width: 100%;
  max-width: 27.5rem;
  box-sizing: border-box;
  position: relative;
}

.modal__preview-container {
  display: flex;
  max-height: 75vh;
  max-width: 75vw;
  width: auto;
  background-color: transparent;
  border: none;
  padding: 0;
}

.modal__title {
  position: absolute;
  left: 0;
  top: calc(100% + 0.625rem);
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0;
}

.modal__heading {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  margin: 0;
  padding-bottom: 1.5rem;
}

.modal__close {
  background-image: url("../images/close.svg");
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 0.3125rem);
  right: -37px;
  width: 2.5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.875rem;
  margin-top: 1.875rem;
}

.modal__input::placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #000;
}

.modal__button {
  color: #fff;
  background-color: #000;
  border-radius: 0.125rem;
  text-decoration: none;
  width: 100%;
  height: 3.125rem;
  margin-top: 3rem;
  cursor: pointer;
}

.modal__button:disabled {
  opacity: 0.5;
  background-color: #fff;
  color: darkgray;
}

.modal__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 20rem) {
  .modal__container {
    max-width: 17.625rem;
    padding: 1.25rem;
  }

  .modal__close {
    width: 1.625rem;
    height: 1.625rem;
    bottom: calc(100% + 0.3125rem);
    right: 0;
  }

  .modal__button {
    font-size: 0.875rem;
    margin-top: 2.8125rem;
  }

  .modal__heading {
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin-bottom: 1.3125rem;
  }
}

.modal__input_type_error {
  border-bottom: 1px solid red;
}

.modal__container .modal__error {
  color: red;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  height: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal__container .modal__error_visible {
  opacity: 1;
}
